#celula1{
background-color: red;
}
#celula2{
background-color: blue;
}
#celula3{
background-color: yellow;
}
#celula4{
background-color: pink;
}
#celula5{
background-color: purple;
}
#celula6{
background-color: green;
}
#celula7{
 background-color: gray;
}
#celula8{
background-color: brown;
}
#celula9{
background-color: aquamarine;
}